<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="true">

  <jmxConfigurator/>

  <contextName>disco</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <if condition='property("LOG_FORMAT").contains("JSON")'>
      <then>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
          <providers>
            <message/>
            <mdc/>
            <logstashMarkers/>
            <pattern>
              <pattern>
                {
                "@timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}",
                "level": "%level",
                "class": "%replace(%logger.%M){'\\.\\?+|\\$*\\.\\$.+\\$+\\d*|\\$',''}",
                "short-class": "%replace(%logger{0}.%M){'\\.\\?+|\\$*\\.\\$.+\\$+\\d*|\\$',''}",
                "thread": "%thread"
                }
              </pattern>
            </pattern>
            <arguments/>
            <stackTrace>
              <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <maxLength>2048</maxLength>
                <shortenedClassNameLength>20</shortenedClassNameLength>
                <rootCauseFirst>true</rootCauseFirst>
              </throwableConverter>
            </stackTrace>
          </providers>
        </encoder>
      </then>
      <else>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <pattern>
            [%blue(%date{ISO8601})][%highlight(%-5level)][%magenta(%replace(%logger.%M){'\.\?+|\$*\.\$.+\$+\d*|\$',''})] - %msg %blue(%marker) [%cyan(%thread)] %n
          </pattern>
        </encoder>
      </else>
    </if>
  </appender>


  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="ie.incognitoescaperoom" level="DEBUG"/>

<!--  <logger name="doobie.jdbc.JdbcBackend.statement" level="DEBUG" />-->
<!--  <logger name="doobie.jdbc.JdbcBackend.benchmark" level="DEBUG" />-->
<!--  <logger name="doobie.jdbc.JdbcBackend.parameter" level="DEBUG" />-->


</configuration>
